---
http_interactions:
- request:
    method: get
    uri: https://api.1nce.com/management-api/v1/sims
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer INVALID TOKEN
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amzn-Requestid:
      - 45b75ef8-8774-4ac1-8b02-86cba542bb18
      X-Amzn-Remapped-Content-Length:
      - '180'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - Iz-C7GMrFiAFbnQ=
      X-Amzn-Remapped-Date:
      - Sun, 14 Nov 2021 20:51:43 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2021-11-14T20:51:43.349+0000","status":401,"error":"Unauthorized","message":"The
        token is invalid: Illegal base64 character 20","path":"/internal-global-api/v1/sims"}'
  recorded_at: Sun, 14 Nov 2021 20:51:43 GMT
recorded_with: VCR 6.0.0
