---
http_interactions:
- request:
    method: get
    uri: https://api.1nce.com/management-api/v1/sims/8988228066602306711
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer INVALID TOKEN
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amzn-Requestid:
      - 2cab9faf-f4a3-427d-82fb-66085605d6ea
      X-Amzn-Remapped-Content-Length:
      - '200'
      X-Amzn-Remapped-Connection:
      - close
      X-Amz-Apigw-Id:
      - IzviyFYgFiAFScQ=
      X-Amzn-Remapped-Date:
      - Sun, 14 Nov 2021 19:12:43 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2021-11-14T19:12:43.315+0000","status":401,"error":"Unauthorized","message":"The
        token is invalid: Illegal base64 character 20","path":"/internal-global-api/v1/sims/8988228066602306711"}'
  recorded_at: Sun, 14 Nov 2021 19:12:43 GMT
recorded_with: VCR 6.0.0
